@model EHealthCare.Model.ViewModels.ShowTermsViewModel

@{
    ViewBag.Title = "ShowTerm";
    Layout = "~/Views/Shared/_mainView.cshtml";
}

<h2>My terms</h2>

@Html.ActionLink(" [Click to add new term]", "AddTerm", "Doctor")
@using (Html.BeginForm("ShowTerm", "Doctor"))
{
    <table class="table">
        <thead>
        <tr>
            <th>Date</th>
            <th>Is already booked?</th>
            <th></th>
        </tr>
        </thead>
        
        <tbody>
        
            @foreach (var term in Model.Terms)
            {
                <tr>
                    <td>@term.DateTimeOfTerm</td>
                    @if (@term.IsTaken == true)
                    {
                        <td>True</td>
                        <td></td>
                    }
                    else
                    {
                        <td>False</td>
                            <td><button type="submit" class="btn btn-primary" name="submitButton" value="@term.TermId">Remove term</button></td>
                    }
                </tr>
            }
        </tbody>
    </table>

}