
@{
    ViewBag.Title = "404";
    Layout = "~/Views/Shared/_mainView.cshtml";
}

<div class="container">
    <div class="jumbotron">
        <center><h1>Page Not Found <small><font face="Tahoma" color="red">Error 404</font></small></h1></center>
        <br />
        <p>The page you requested could not be found.</p>
    </div>
</div>